.containerContact{
    width: 750px;
    flex-direction: column;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 15%;
    margin-top: 10%;
    justify-content: center;
    align-items: center;

}

.h1contact{
    font-size: 35px;
    color:rgb(0, 238, 255);
}
.inputcontact{
    width: 50%;
    margin-bottom: 20px;
    background-color: rgb(0, 116, 124);
    border: none;
    height: 40px;
}
.inputcontact::placeholder{
    padding-left: 10px;
    font-size: 15px;
    font-weight:700;
    color: rgb(0, 55, 58);
    
}
.inputcontact:valid{
    padding-left: 20px;
    font-weight: 600;
 }
.inputcontact:invalid{
    padding-left: 20px;
    color: red;
    font-weight: 600;
}
.inputcontact:focus {
    color:black;
    outline: none;
    font-weight: 600;

    margin-bottom: 30px;
}
.buttoncontact{
    font-weight: 800;
    color: rgb(0, 36, 37);
    border: none;
    background-color:rgb(0, 238, 255);
    width: 53%;
    height: 40px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.buttoncontact:hover {
    transform: scale(1.02);
    transition: transform 0.4s ease-in-out;
    
}
.spann{
    
    bottom: 0;
    right: 0;
    padding-bottom: 5px;
    margin: 10px;
    font-weight: 650;
    color: white;
}
@media(max-width: 767px){
    .containerContact{
        width: 300px;
        flex-direction: column;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        margin-bottom: 15%;
        margin-top: 10%;
        justify-content: center;
        align-items: center;
    
    } 
    .h1contact{
        font-size: 15px;
        color:rgb(0, 238, 255);
    }
    .inputcontact{
        width: 80%;
        margin-bottom: 20px;
        background-color: rgb(0, 116, 124);
        border: none;
        height: 20px;
    }
    .inputcontact::placeholder{
        padding-left: 10px;
        font-size: 10px;
        font-weight:700;
        color: rgb(0, 55, 58);
        
    }
    .buttoncontact{
        font-weight: 00;
        color: rgb(0, 36, 37);
        font-size: 5px;
        border: none;
        background-color:rgb(0, 238, 255);
        width: 20%;
        height: 10px;
     
    }
}