.containerContact{
    width: 750px;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    display: flex;
    top: 50%;
    flex-wrap: wrap;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    text-align: center;
    margin: 0;


}

.h1contact{
    font-size: 35px;
    color:rgb(0, 238, 255);
}
.inputcontact{
    width: 50%;
    margin-bottom: 20px;
    background-color: rgb(0, 116, 124);
    border: none;
    height: 40px;
}
.inputcontact::placeholder{
    padding-left: 10px;
    font-size: 15px;
    font-weight:700;
    color: rgb(0, 55, 58);
    
}
.inputcontact:valid{
    padding-left: 20px;
    font-weight: 600;
 }
.inputcontact:invalid{
    padding-left: 20px;
    color: red;
    font-weight: 600;
}
.inputcontact:focus {
    color:black;
    outline: none;
    font-weight: 600;

    margin-bottom: 30px;
}
.buttoncontact{
    font-weight: 800;
    color: rgb(0, 36, 37);
    border: none;
    background-color:rgb(0, 238, 255);
    width: 53%;
    height: 40px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.buttoncontact:hover {
    transform: scale(1.02);
    transition: transform 0.4s ease-in-out;
    
}
.spann{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 5px;
    margin: 10px;
    font-weight: 650;
    color: white;
}