.homeall{
    display: block;
    margin-top: 11%;
    padding: 20px;
}




.phome{
    max-width: 39%;
    color: rgb(190, 190, 190);
}
.h1homeall{
    max-width: 60%;
    font-size: 50px;
    color: white;
}
.homebutton{
        display: flex;
        font-family: "Raleway";
        transition: all 0.1s;
        font-size: 18px;
        color: white;
        border: none;
        border-radius: 2px;
        background-color: rgb(0, 116, 124);
        margin-top: 20px;
        padding-inline: 20px ;
        padding-block: 10px;
        cursor: pointer;
    
}

.homebutton:hover{
    background-color: rgb(0, 89, 95);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    
}
.seguir{
    width: 25px;
    margin-left: 5px;
}

@media(max-width: 767px) {
   
    .homeall{
        display: block;
        margin-top: 25%;
        padding: 20px;
        width:calc(120% - 30px);
    } 
    .homebutton{
        font-size: 15px;
        margin-top: 20px;
        padding-inline: 10px ;
        padding-block: 10px;
    }
    .seguir{
        margin-top: 3px;
        width: 12px;
        height: 12px;
        margin-left: 5px;
    }
}
@media(max-width: 450px){
    .homeall{
        display: block;
        margin-top: 25%;
    } 

}
