.homeall {
    display: block;
    margin-top: 11%;
    padding: 20px;
}


.phome {
    position: relative;
    max-width: 40%;
    z-index: 3;
    color: rgb(190, 190, 190);
}

.h1homeall {
    width: 45%;
    font-size: 50px;
    color: white;
    position: relative;

}

.DevH1::after {
    background-color: rgb(0, 43, 56);
    position: absolute;
    content: '';
    border-left: 4px solid rgb(0, 238, 255);
    animation:
        typing 4s steps(30),
        cursor 0.6s step-end infinite alternate;
    height: 45%;
    width: 0%;

}

.frontendH1::after {
    background-color: rgb(0, 43, 56);
    position: absolute;
    content: '';
    border-left: 4px solid rgb(0, 238, 255);
    height: 45%;
    width: 0%;
    animation:
        cursor 0.6s step-end infinite alternate;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 0px 0 0px;
        width: 10%;

    }

    50% {
        width: 60%;
    }

    0% {
        left: 0;
        width: 100%;

    }
}

@keyframes cursor {
    100% {}

    50% {
        border-color: transparent;

    }
}

.homebutton {
    display: flex;
    font-family: "Raleway";
    transition: all 0.1s;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(0, 116, 124);
    margin-top: 20px;
    padding-inline: 20px;
    padding-block: 10px;
    cursor: pointer;

}

.homebutton:hover {
    background-color: rgb(0, 89, 95);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;

}

.homebutton_link {
    display: flex;
    width: 250px;
}

.seguir {
    width: 25px;
    margin-left: 5px;
}

@media(max-width: 767px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .h1homeall {
        width: 80%;
    
    }

    .phome {
        position: relative;
        max-width: 60%;
        font-size: 12px;
    }

    .homeall {
        display: block;
        margin-top: 25%;
        padding: 20px;
        width: 80%;
    }

    .homebutton {
        font-size: 15px;
        margin-top: 20px;
        padding-inline: 10px;
        padding-block: 10px;
    }

    .seguir {
        margin-top: 3px;
        width: 12px;
        height: 12px;
        margin-left: 5px;
    }

    .frontendH1::after {
        background-color: rgb(153, 9, 9);
        background-color: rgb(0, 43, 56);
        content: '';
        border-left: 4px solid rgb(0, 238, 255);
        animation:
            typingFront 6s;
        height: 28%;
        width: 0%;
    }

    .DevH1::after {
        background-color: rgb(44, 250, 16);
       background-color:  rgb(0, 43, 56); 
        content: '';
        border-left: 4px solid rgb(0, 238, 255);
        animation:
            typing 4s steps(20),
            cursor 0.6s step-end infinite alternate;
        height: 28%;
        width: 0%;
        margin-bottom: 10%;
    }

    @keyframes typing {
        100% {
            left: 80%;
            width: 10%;
        }

        65% {}

        55% {}

        41% {
            left: 0px;
            right: 0;
            width: 50%;
            top: 70%
        }

        40% {
            left: 100%;
            width: 20%;
            top:38%;
        }

        0% {
            left: 0;
            top: 38%;
            width: 80%;

        }
    }

    @keyframes typingFront {
        100% {
            width: 40%;

        }

        50% {
            border-left: rgb(0, 43, 56);
        }

        0% {
            border-left: rgb(0, 43, 56);
            left: 0;
            width: 80%;
        }
    }

}

@media(max-width: 500px) {
    .h1homeall {
        width: 80%;
        font-size: 35px;
    }

    .phome {
        position: relative;
        max-width: 60%;
        font-size: 12px;
    }

    .frontendH1::after {
        background-color: rgb(0, 43, 56);
        content: '';
        border-left: none !important;
        animation:
            typingFront 11s;
        height: 50% !important;
        width: 0%;
    }

    .DevH1::after {
        background-color: rgb(0, 43, 56);
        content: '';
        border-left: 4px solid rgb(0, 238, 255);
        animation:
            typing 6s steps(20),
            cursor 0.4s step-end infinite alternate;
        height: 30% !important;


    }

    .frontendH1 {
        font-size: 40px !important;
    }

    .DevH1 {
        font-size: 40px !important;
    }

    @keyframes typing {
        100% {
            left: 70%;
            width: 50%;
        }

        50.1% {
            left: 0px;
            right: 0;
            top: 65%;
            width: 100%;
        }

        50% {
            left: 120%;
            width: 20%;
            top: 32%;
        }
        20%{
            width: 80%;
        }
        0% {
            left: 0;
            top: 32%;
            width: 120%;

        }
    }

    @keyframes typingFront {
        100% {
            width: 40%;
        }

        50% {
            border-left: rgb(0, 43, 56);
          
        }
        10%{
            width: 90%;
        }
        0% {
            border-left: rgb(0, 43, 56);
            left: 0;
            width: 100%;

        }
    }
}
/* 
@media (max-width:1500px) {
    .h1homeall {
        width: 55%;
        font-size: 50px;
        color: white;
        position: relative;
    }

    /* }
    
.DevH1::after{
    background-color: rgb(0, 43, 56);
    position: absolute;
    content: ''; 
    border-left: 4px solid rgb(0, 238, 255);
    animation:
    typing 4s steps(30),
    cursor 0.6s step-end infinite alternate;
    height: 42%;
    width:0%;

}
.frontendH1::after{
    background-color: rgb(0, 43, 56);
    position: absolute;
    content: ''; 
    border-left: 4px solid rgb(0, 238, 255);
    height: 42%;
    width:0%;
    animation:
    cursor 0.6s step-end infinite alternate;
} */


