.homeall{
    display: block;
    margin-top: 11%;
    padding: 20px;
}


.phome{
    position: relative;
    max-width: 40%;
    z-index: 3;
    color: rgb(190, 190, 190);
}
.h1homeall{
    width: 45%;
    font-size: 50px;
    color: white;
    position: relative;

}
.DevH1::after{
    background-color: rgb(0, 43, 56);
    position: absolute;
    content: ''; 
    border-left: 4px solid rgb(0, 238, 255);
    animation:
    typing 4s steps(30),
    cursor 0.6s step-end infinite alternate;
    height: 45%;
    width:0%;

}
.frontendH1::after{
    background-color: rgb(0, 43, 56);
    position: absolute;
    content: ''; 
    border-left: 4px solid rgb(0, 238, 255);
    height: 45%;
    width:0%;
    animation:
    cursor 0.6s step-end infinite alternate;
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 0px 0 0px;
        width: 10%;
        
    }
    50%{
        width: 60%;
    }
    
    0%{
        left: 0;
        width: 100%;
       
    }
}
@keyframes cursor {
    100%{
       
    }
    50%{
        
        border-color: transparent;
        
    }
}
.homebutton{
        display: flex;
        font-family: "Raleway";
        transition: all 0.1s;
        font-size: 18px;
        color: white;
        border: none;
        border-radius: 2px;
        background-color: rgb(0, 116, 124);
        margin-top: 20px;
        padding-inline: 20px ;
        padding-block: 10px;
        cursor: pointer;
    
}

.homebutton:hover{
    background-color: rgb(0, 89, 95);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    
}
.homebutton_link{
    display: flex;
    width:250px;
}
.seguir{
    width: 25px;
    margin-left: 5px;
}
@media(max-width: 767px) {
    body{
        max-width: 100%;
        overflow-x: hidden;
       }
       .h1homeall{
        width: 60%;
       }
        .homeall{
            display: block;
            margin-top: 25%;
            padding: 20px;
            width:80%;
        } 
        .homebutton{
            font-size: 15px;
            margin-top: 20px;
            padding-inline: 10px ;
            padding-block: 10px;
        }
        .seguir{
            margin-top: 3px;
            width: 12px;
            height: 12px;
            margin-left: 5px;
        }
        .frontendH1::after{
            background-color: rgb(0, 43, 56);
            content: ''; 
            border-left: 4px solid rgb(0, 238, 255);
            animation:
            typingFront 7s;
            height: 22%;
            width:0%;
        }
        .DevH1::after{
            background-color: rgb(0, 43, 56);
            content: ''; 
            border-left: 4px solid rgb(0, 238, 255);
            animation:
            typing 4s steps(20),
            cursor 0.6s step-end infinite alternate;
            height: 22%;
            width:0%;
        
        }
   
@keyframes typing{
    100%{
        left: 100%;    
        width: 100%;
    }
    65%{
        
    }
    55%{
    }
    51%{
        left: 0px;
        right: 0;
        top: 75%;
    }
    50%{
        left: 135%;
        width: 100%;
        top: 50%;
    }
    0%{
        left: 0;
        top: 50%;
        width: 150%;
        
    }
}
@keyframes typingFront{
    100%{
        
        width: 100%;
        
        
    }
    50%{
        border-left: rgb(0, 43, 56);
  }
    0%{
        border-left: rgb(0, 43, 56);
        left: 0;
        width: 100%;
        
    }
}

}
@media(max-width: 500px) {
    .h1homeall{
        width: 80%;
        font-size: 35px;
       }
       .phome{
        position: relative;
        max-width: 60%;
        font-size: 12px;
    }
    .frontendH1::after{
        background-color: rgb(0, 43, 56);
        content: '';
        border-left: none !important; 
        animation:
        typingFront 11s;
        height: 50% !important;
        width:0%;
    }
    .DevH1::after{
        background-color: rgb(0, 43, 56);
        content: ''; 
        border-left: 4px solid rgb(0, 238, 255);
        animation:
        typing 6s steps(20),
        cursor 0.6s step-end infinite alternate;
        height: 30% !important;
        
    
    }
    .frontendH1{
        font-size: 40px !important;
    }
    .DevH1{
        font-size: 40px !important;
    }
      
@keyframes typing{
    100%{
        left: 70%;    
        width: 50%;
       
    }
     
    50.1%{
        left: 0px;
        right: 0;
        top: 65%;
    }
    50%{
        left: 100%;
        width: 80%;
        top: 30%;
    }
    0%{
        left: 0;
        top: 30%;
        width: 150%;
        
    }
}
@keyframes typingFront{
    100%{
        
        width: 150%;
       
        
    }
    50%{
        border-left: rgb(0, 43, 56);
  }
    0%{
        border-left: rgb(0, 43, 56);
        left: 0;
        width: 100%;
        
    }
}
}
@media (max-width:1500px) {
    .h1homeall{
        width: 55%;
        font-size: 50px;
        color: white;
        position: relative;
    }
    /* }
    
.DevH1::after{
    background-color: rgb(0, 43, 56);
    position: absolute;
    content: ''; 
    border-left: 4px solid rgb(0, 238, 255);
    animation:
    typing 4s steps(30),
    cursor 0.6s step-end infinite alternate;
    height: 42%;
    width:0%;

}
.frontendH1::after{
    background-color: rgb(0, 43, 56);
    position: absolute;
    content: ''; 
    border-left: 4px solid rgb(0, 238, 255);
    height: 42%;
    width:0%;
    animation:
    cursor 0.6s step-end infinite alternate;
} */

} 