img.menu {

    position: absolute;
    align-items: center;
    justify-content: center;
    margin: 25px;
    display: none;

}

.spanmenu {
    z-index: 2;


}

.menulist {
    display: none;
}

@media(max-width: 900px) {
    .spanmenu {

        position: absolute;
        right: 0;


    }

    img.menu {
        cursor: pointer;
        display: flex;
        position: relative;


    }

    .menulist {

        display: flex;
        justify-content: space-around;
        position: absolute;
        right: 0;
        background-color: rgb(0, 30, 39);
        height: 200px;
        width: 150px;


    }

    .menulist ul {
        transition: all 1s;
        cursor: pointer;
        width: 80%;
        padding-inline: 10%;
        color: #FFFF;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: start;
        padding: 0;
        margin: 0;

    }

    .menulist li:hover {
        padding-bottom: 5px;
        border-bottom: 2px solid #FFFF;
        width: 60%
    }
}