.projetscALL {
    display: block;
    margin-top: 10vh;
    height: 850px;
    max-width: 100%;
    position: relative;
}


.projetsch1 {
    font-size: 50px;
    margin: 0;
    width: 200px;
    display: flex;
    color: aqua;
}

.skillset_style {
    transition: width 2s ease-in-out;
    margin-top: 1%;
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: rgb(0, 238, 255);
}

h1.projetsch1:hover+.skillset_style {
    transition: width 1s ease-in-out;
    width: 150px;

}

.projets {
    padding-left: 5%;
    width: 90%;
    display: grid;
    padding-block: 5%;
    grid-template-columns: repeat(4, 0fr);
    gap:25px;
    margin-top: 2vh;
}

.projet1 {
    
    transition: 1s;
    position: relative;
    background-color: rgb(0, 116, 124);
    width: 220px;
    height: 350px;

}

.projectLinks {
    z-index: 2;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 5%;
}


.projet1:hover {
  transform: scale(1.1);

}
.projet1::before{

    content: '';
    transition: 0.8s ease-in-out;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -1px;
    right: -1px;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
}
.projet1::after{
    content: '';
    width: 0px;
    transition: 0.8s ease-in-out;
    height: 0px;
    position: absolute;
    bottom: -0px;
    left: -0px;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
}
.projet1:hover::after {
    width: 100%;
    height: 100%;
    border-bottom:1px solid #00ffff;
    border-left: 1px solid #00ffff;
 }
.projet1:hover::before {
   width: 100%;
   height: 100%;
   border-top:1px solid #00ffff;
   border-right: 1px solid #00ffff;
}


.imgprojet1content:hover {
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.projectinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-inline: 5%;
    margin-top: 5%;
    text-align: left;
    height: 55%;
}

.h1infoproject {

    color: rgb(0, 238, 255);
    width: 100%;
    font-size: 12px;

}

.h1project {
    margin-top: 0;
    font-size: 15px;
    color: white;
}

.paragrafoproject {
    font-size: 14px;
    color: white;
    margin-top: 10%;

}

.containerProject1 {
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

}

.imgprojet1content {
    z-index: 3;
    width: 90%;
    height: 130px;
    transition: 1s;
}

a.redirectproject {
    font-weight: 500;
    color: white;
    display: flex;
    font-size: 13px;
    width: 50%;
    align-items: center;
    text-align: center;
    justify-content: left;
    text-decoration: none;

}

a.redirectproject:hover {

    color: rgb(0, 238, 255);

}

.paragraforedirectproject {
    margin-right: 5px;



}
.infoprojectICON{
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    
    max-height: 20px;
    max-width: 20px;
}
.infoprojectICON:hover{
    color: rgb(0, 238, 255);
}
.infoprojectICON:hover .infoprojectICONHIDDEN {
    visibility: visible;
    color: #FFFFFF;
    font-size: 20px;
    width: 80px;
    display: flow;
    z-index: 3;
}
.infoprojectICON:hover::after{ 
    border-radius: 3px;
    position: absolute;
    bottom: 30px;
    left: -35px;
    content: '';
    width: 90px;
    display: flex;
    height:60px;
    background-color: rgba(1, 75, 80, 0.719);;
}
.infoprojectICONHIDDEN{
    visibility: hidden;
    position: relative;
    top: -80px;
    left: -30px;
    justify-content: center;
    max-width: 90px;
    margin: 0;
}
.infoprojectICONHIDDEN svg{
    
}

/*SOON*/
.inprocess{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 10px;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80px;
    height: 25px;
    background-color: #636363be;

}


@media(max-width: 767px) {
    body{
        overflow-x: hidden;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .paragrafoproject{
        height: 100%;
        margin: 0;
    }
    h1.h1infoproject{
        width: 100%;
    }
    .projetsch1 {
        margin-bottom: 0.3vh;
        font-size: 40px;
    }
    

    .projets_content {
        padding: 8px;
        font-size: 15px;

    }

    .projets_content_process {
        padding: 8px;
        font-size: 15px;
    }

    .projets {
        padding-left: 5%;
        overflow: scroll;
        width: 90%;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns:1fr;
        gap: 20px;
        padding-block: 5%;
        margin-top: 4vh;
    }

    .projetscALL {
        margin-top: 8vh;
        height: 500px;
    }
}

@media (max-width:1300px) {
    .projets {
        overflow-y: hidden;
        max-width: 90%;
    }
  
}
