.projetscALL {
    display: block;
    margin-top: 10vh;
    height: 600px;
    max-width: 100%;
    position: relative;
}

.projectTop {}

.projetsch1 {
    font-size: 50px;
    margin: 0;
    width: 200px;
    display: flex;
    color: aqua;
}

.skillset_style {
    transition: width 2s ease-in-out;
    margin-top: 1%;
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: rgb(0, 238, 255);
}

h1.projetsch1:hover+.skillset_style {
    transition: width 1s ease-in-out;
    width: 150px;

}

.projets {
    width: 100%;
    display: grid;
    padding-top: 5%;
    grid-template-columns: repeat(4, 0fr);
    gap:15px;
    margin-top: 2vh;
}

.projet1 {

    transition: 1s;
    position: relative;
    border-radius: 3%;
    background-color: rgb(0, 116, 124);
    width: 250px;
    height: 350px;

}

.projectLinks {
    cursor: pointer;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 5%;
}


.projet1:hover {
    transition: 1s;
    transform: scale(1.1);
    z-index: 1;

}

.imgprojet1content:hover {
    z-index: 2;
    position: relative;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 5px;
    transform: scale(1.5);
    box-shadow: 5px 5px 10px black;

}

.projectinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-inline: 5%;
    margin-top: 5%;
    text-align: left;
    height: 55%;
}

.h1infoproject {

    color: rgb(0, 238, 255);
    width: 100%;
    font-size: 12px;

}

.h1project {
    margin-top: 0;
    font-size: 15px;
    color: white;
}

.paragrafoproject {
    font-size: 14px;
    color: white;
    margin-top: 10%;

}

.containerProject1 {
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

}

.imgprojet1content {
    width: 90%;
    height: 130px;
    border-radius: 5px;
    transition: 1s;
}

a.redirectproject {
    font-weight: 500;
    color: white;
    display: flex;
    font-size: 13px;
    width: 50%;
    align-items: center;
    text-align: center;
    justify-content: left;
    text-decoration: none;

}

a.redirectproject:hover {

    color: rgb(0, 238, 255);

}

.paragraforedirectproject {
    margin-right: 5px;



}


@media(max-width: 767px) {
    body{
        overflow-x: hidden;
        max-width: 100%;
    }
    .paragrafoproject{
        height: 100%;
        margin: 0;
    }
    h1.h1infoproject{
        width: 100%;
    }
    .projetsch1 {
        margin-bottom: 0.3vh;

    }
    

    .projets_content {
        padding: 8px;
        font-size: 15px;

    }

    .projets_content_process {
        padding: 8px;
        font-size: 15px;
    }

    .projets {
        padding-left: 2%;
        overflow: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding-block: 5%;
        margin-top: 4vh;
    }

    .projetscALL {
        margin-top: 8vh;
        height: 500px;
    }
}

@media (max-width:900px) {
    .projetscALL {}
}